<h1>
  <%= @product.name %>
</h1>
<br>

<table>
  <thead>
    <tr>
      <th>
        Description
      </th>
      <th>
        Price
      </th>
      <th>
        Date created
      </th>
      <th>
        Date last updated
      </th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>
        <%= @product.description %>
      </td>
      <td>
        <%= @product.price %>
      </td>
      <td>
        <%= @product.created_at %>
      </td>
      <td>
        <%= @product.updated_at %>
      </td>
      <td>
        <%= link_to "edit", edit_product_path %>
      </td>
    </tr>
  </tbody>
</table>
